<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
    	
    	<!-- 配置数据库连接的基本信息 -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url"><![CDATA[jdbc:mysql://localhost:3306/test?useUnicode=true&characterEncoding=utf8]]></property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1230</property>
        
        <!-- 配置hibernate的基本信息,方言,格式化信息 -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        
        <!-- 指定自动生成数据库的策略 -->
        <!-- 
        	1.create:每次都会删除上一次的表，重写生成表
        	2.drop:SessionFactory关闭，表自动删除
        	3.update:最常用
        	4.validate:汇合数据库中的表进行比较,如该列不再 表中,则抛出异常
         -->
        <property name="hbm2ddl.auto">update</property>
        
       <!-- 指定管理的.hbm.xml文件 -->
        <mapping resource="com/hephec/hibernate/entity/News.hbm.xml"/>
        
    </session-factory>
    
</hibernate-configuration>
